<div class="px-4">
    <div class="input-group mb-3 box-search mt-5">
        <span class="input-group-text">
            <i class='bx bx-search'></i>
        </span>
        <input type="text" class="form-control py-2 ps-0" placeholder="Search your favourite book">
    </div>
    <div class="banner mt-5 p-5 rounded-4">
        <div class="main-banner row">
            <div class="col-md-7">
                <h2 class="text-white">We are award winner top rated book.</h2>
                <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat delectus pariatur
                    cumque? Amet
                    totam porro nihil?</p>
                <div class="">
                    <button class="addBtn px-3 py-2 rounded-3">Add to Cart</button>
                    <button class="buyBtn px-3 py-2 rounded-3 ms-3">Buy Now</button>
                </div>
            </div>
            <div class="col-md-5">
                <img src="https://www.onlineeducationfacts.com/wp-content/uploads/sites/713/2021/02/home-img.png" alt=""
                    class="banner-img">
            </div>
        </div>
    </div>
    <div class="categories ">
        <div class="d-flex align-items-center justify-content-between">
            <h4 class="my-5 categories-title">Categories</h4>
            <div class="cat-filter">
                <select name="" id="" class="">
                    <option value="" selected>Newest</option>
                    <option value="">Oldest</option>
                </select>
            </div>
        </div>
        <div class="position-relative">
            <div class="list-trend">
                {{#each booksData}}
                <div class="trend-item d-flex align-items-center">
                    <a href="/books/{{this.title}}" style="" class="trend-link">
                        <img src="{{this.poster}}" alt="">
                    </a>
                    <div class="trend-content ms-4 w-50">
                        <h4 class="">{{this.title}}</h4>
                        <p class="trend-des">{{this.description}}
                        </p>
                        <div class="d-flex align-items-center">
                            <div class="">
                                <i class='bx bxs-star text-warning'></i>
                                <i class='bx bxs-star text-warning'></i>
                                <i class='bx bxs-star text-warning'></i>
                                <i class='bx bxs-star text-warning'></i>
                            </div>
                            <span class="ms-2 number-rate">({{this.numberRating}})</span>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="box-direct d-flex align-items-center position-absolute end-0">
                <div class="left-direct">
                    <i class='bx bx-caret-left-square'></i>
                </div>
                <div class="right-direct">
                    <i class='bx bx-caret-right-square'></i>
                </div>
            </div>
        </div>
    </div>
    <div class="topwriter mt-5">
        <div class="">
            <div class="row text-white align-items-center">
                <div class="col-md-4">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <h4 class="text-head mb-0">Top Write</h4>
                        </div>
                        <div class="col-md-6">
                            <span class="fw-medium fs-5">Designer</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 text-head">
                    Developer
                </div>
                <div class="col-md-5 text-head">
                    illustrations
                </div>
                <div class="col-md-1 text-head">
                    All
                </div>
            </div>
            <div class="">
                {{#each authorsData}}
                {{!-- <div class="row designer-item align-items-center mt-4 active">
                    <div class="col-md-4">
                        <div class="row align-items-center">
                            <div class="col-md-4">
                                <img src="https://images.unsplash.com/photo-1546820389-44d77e1f3b31?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                    alt="">
                            </div>
                            <div class="col-md-8">
                                <span class="designer-des">How to learn ux design.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="">
                            <h5 class="designer-name">Jounathan</h5>
                            <span class="designer-pos">Ui/Ux designer</span>
                        </div>
                    </div>
                    <div class="col-md-2 designer-rate">
                        <span class="">Rating</span>
                        <div class="">
                            <i class='bx bxs-star text-warning'></i>
                            <i class='bx bxs-star text-warning'></i>
                            <i class='bx bxs-star text-warning'></i>
                            <i class='bx bxs-star text-warning'></i>
                            <i class='bx bxs-star text-warning'></i>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="designer-social d-flex align-items-center">
                            <i class='bx bxl-twitter'></i>
                            <i class='bx bxl-linkedin ms-2'></i>
                        </div>
                    </div>
                    <div class="col-md-2 text-center">
                        <span class="designer-time">5:32</span>
                    </div>
                    <div class="col-md-1 text-center designer-more_option">
                        <i class='bx bx-dots-vertical-rounded'></i>
                    </div>
                </div> --}}
                <div class="row designer-item align-items-center mt-4">
                    <div class="col-md-4">
                        <div class="row align-items-center">
                            <div class="col-md-4">
                                <img src="{{this.image}}" alt="">
                            </div>
                            <div class="col-md-8">
                                <span class="designer-des">How to learn ux design.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="">
                            <h5 class="designer-name">{{this.name}}</h5>
                            <span class="designer-pos">{{this.job}}</span>
                        </div>
                    </div>
                    <div class="col-md-2 designer-rate">
                        <span class="">Rating</span>
                        <div class="">
                            <i class='bx bxs-star text-warning'></i>
                            <i class='bx bxs-star text-warning'></i>
                            <i class='bx bxs-star text-warning'></i>
                            <i class='bx bxs-star text-warning'></i>
                            <i class='bx bxs-star text-warning'></i>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="designer-social d-flex align-items-center">
                            <a href="{{this.socials.twitter}}">
                                <i class='bx bxl-twitter'></i>
                            </a>
                            <a href="{{this.socials.linkedin}}">
                                <i class='bx bxl-linkedin ms-2'></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2 text-center">
                        <span class="designer-time">5:32</span>
                    </div>
                    <div class="col-md-1 text-center designer-more_option">
                        <i class='bx bx-dots-vertical-rounded'></i>
                    </div>
                </div>
                {{!-- <div class="row designer-item align-items-center mt-4">
                    <div class="col-md-4">
                        <div class="row align-items-center">
                            <div class="col-md-4">
                                <img src="https://images.unsplash.com/photo-1542909168-82c3e7fdca5c?q=80&w=1780&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                    alt="">
                            </div>
                            <div class="col-md-8">
                                <span class="designer-des">How to learn ux design.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="">
                            <h5 class="designer-name">Jane doe</h5>
                            <span class="designer-pos">Graphic Export</span>
                        </div>
                    </div>
                    <div class="col-md-2 designer-rate">
                        <span class="">Rating</span>
                        <div class="">
                            <i class='bx bxs-star text-warning'></i>
                            <i class='bx bxs-star text-warning'></i>
                            <i class='bx bxs-star text-warning'></i>
                            <i class='bx bxs-star text-warning'></i>
                            <i class='bx bxs-star text-warning'></i>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="designer-social d-flex align-items-center">
                            <i class='bx bxl-twitter'></i>
                            <i class='bx bxl-linkedin ms-2'></i>
                        </div>
                    </div>
                    <div class="col-md-2 text-center">
                        <span class="designer-time">5:32</span>
                    </div>
                    <div class="col-md-1 text-center designer-more_option">
                        <i class='bx bx-dots-vertical-rounded'></i>
                    </div>
                </div> --}}
                {{/each}}
            </div>
        </div>
    </div>

    <div class="readed mt-5">
        <h4 class="text-head">For you</h4>
        <div class="mt-4">
            <div class="row gx-3 gy-4">
                <div class="col-md-6">
                    <div class="readed-item">
                        <div class="row h-100 gx-5">
                            <div class="col-md-4 d-flex align-items-center">
                                <div class="readed-book_img">
                                    <img src="https://books.google.com.vn/books/content?id=c53DEY3-qtcC&printsec=frontcover&img=1&zoom=1&imgtk=AFLRE70LmT9D_3xlC18rWDuSIsfv6bYmeLtlaMlfUE3W10gOz3biStQu1M63DWZQbULT_xsu2w_VmG2e3iwnKFDmep_idV0c5R8-AvSCUdsDXO6VlBY2DOUmBLIe7ITZ7QXFikeVh0uW"
                                        alt="">
                                </div>
                                <div class="img-shadow"></div>
                            </div>
                            <div class="col-md-8">
                                <div class="d-flex flex-column h-100">
                                    <div class="">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="readed-item_title">
                                                    The Birth of the Clinic
                                                </div>
                                                <p class="readed-item_author">Michel Foucalt</p>
                                            </div>
                                            <div class="col-md-4 readed-item_process">
                                                <div class="readed-item_percent">
                                                    <div class="process-circle">
                                                        <span class="progress-value">45%</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-auto">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <span class="readed-item_value">290</span>
                                                <p class="readed-item_info m-0">pages</p>
                                            </div>
                                            <div class="col-md-3">
                                                <span class="readed-item_value">80</span>
                                                <p class="readed-item_info m-0">reviews</p>
                                            </div>
                                            <div class="col-md-3">
                                                <span class="readed-item_value">450</span>
                                                <p class="readed-item_info m-0">ratings</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="readed-btn">
                            <i class='bx bx-chevron-right'></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="readed-item">
                        <div class="row h-100 gx-5">
                            <div class="col-md-4 d-flex align-items-center">
                                <div class="readed-book_img">
                                    <img src="https://img.wook.pt/images/our-lady-of-the-flowers-m-jean-genet/MXwyMTQyMTQyNXwxNzI4Nzc5NHwxNTY4MTE0MzIyMDAwfHdlYnA=/550x"
                                        alt="">
                                </div>
                                <div class="img-shadow"></div>
                            </div>
                            <div class="col-md-8">
                                <div class="d-flex flex-column h-100">
                                    <div class="">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="readed-item_title">
                                                    Stories For The Years
                                                </div>
                                                <p class="readed-item_author">de Luigi Pirandello</p>
                                            </div>
                                            <div class="col-md-4 readed-item_process">
                                                <div class="readed-item_percent">
                                                    <div class="process-circle">
                                                        <span class="progress-value">70%</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-auto">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <span class="readed-item_value">290</span>
                                                <p class="readed-item_info m-0">pages</p>
                                            </div>
                                            <div class="col-md-3">
                                                <span class="readed-item_value">80</span>
                                                <p class="readed-item_info m-0">reviews</p>
                                            </div>
                                            <div class="col-md-3">
                                                <span class="readed-item_value">450</span>
                                                <p class="readed-item_info m-0">ratings</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="readed-btn">
                            <i class='bx bx-chevron-right'></i>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="readed-item">
                        <div class="row h-100 gx-5">
                            <div class="col-md-4 d-flex align-items-center">
                                <div class="readed-book_img">
                                    <img src="https://www.authenticvintageposters.com/cdn/shop/products/P1752-M_2048x.jpg?v=1662762041"
                                        alt="">
                                </div>
                                <div class="img-shadow"></div>
                            </div>
                            <div class="col-md-8">
                                <div class="d-flex flex-column h-100">
                                    <div class="">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="readed-item_title">
                                                    I Want you
                                                </div>
                                                <p class="readed-item_author">Uncle Sam</p>
                                            </div>
                                            <div class="col-md-4 readed-item_process">
                                                <div class="readed-item_percent">
                                                    <div class="process-circle">
                                                        <span class="progress-value">23%</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-auto">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <span class="readed-item_value">290</span>
                                                <p class="readed-item_info m-0">pages</p>
                                            </div>
                                            <div class="col-md-3">
                                                <span class="readed-item_value">80</span>
                                                <p class="readed-item_info m-0">reviews</p>
                                            </div>
                                            <div class="col-md-3">
                                                <span class="readed-item_value">450</span>
                                                <p class="readed-item_info m-0">ratings</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="readed-btn">
                            <i class='bx bx-chevron-right'></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>